/* This is a CSS file */
/* Reset default browser styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f2f2f2;
  }

button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #0069d9;
  }

li {
    margin: 10px;
  }
